---
layout: default
title: Ben's Weblog
---
<div class="container">
          {% for post in site.posts %}
         <div class="postbox {{ post.length }} {{ post.scroll }}">
             {% if post.length == "long" %}
               <h2>{{ post.title }}</h2>
             {% endif %}
             {% if post.more == "false" %}
               {{ post.content }}
             {% else %}
                {{ post.excerpt }}
             {% endif %}
             <p class="postdate">{{ post.date | date_to_string }}; <a href="{{ post.url }}">permalink</a>.</p>
        </div>
      {% endfor %}
</div>
