<!DOCTYPE html>
<html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/default.css">
    </head>
    <body>
        <div class="nav">
            <h2><a href="/">Ben Notkin</a></h2>
            <h2><a href="/blog">↳ Weblog</a></h2>
        </div>
        <div class="container">

            <!--<div class="long">
            <p>I went out to the hazel woods,<br>Because a fire was in my head,<br>And cut and peeled a hazel wand,<br>And hooked a berry to a thread;</p>
            </div>
            <div class="postbox short">
            <p>Passwords as mneumonic devices</p>
            </div>
            <div class="postbox short">
            <p>Passwords as mneumonic devices</p>
            </div>
            <div class="long">
            <p>I went out to the hazel woods,<br>Because a fire was in my head,<br>And cut and peeled a hazel wand,<br>And hooked a berry to a thread;</p>
            </div>
            <div class="postbox imagepost">
                <img src="\images/44125.jpeg">-->
            {{ content }}

        </div><!-- /.container -->
    </body>
</html>
