<!DOCTYPE html>
<html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/default.css">
    </head>
    <body>
        <div class="nav">
            <div class="mobile">
            <h2><a href="/">Ben Notkin</a> ⟶ <a href="/blog"><em>Weblog</em></a></h2>
            </div>
            <div class="computer">
                <h2><a href="/">Ben Notkin</a></h2>
                <h2><a href="/blog">↳ Weblog</a></h2>
            </div>
        </div>
        <div class="container">

            {{ content }}

        <div class="foot">Copyright © 2020, Ben Notkin.</div>
        </div><!-- /.container -->
        
    </body>
</html>
