<!DOCTYPE html>
<html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/default.css">
    </head>
    <body>
        <div class="nav">
            <h2><a href="/">Ben Notkin</a></h2>
            <h2><a href="/about">– About</a></h2>
            <h2><a href="/cv">– CV</a></h2>
            <h2><a href="/blog">– Weblog</a></h2>
        </div>
        <div class="container">
            <ul class="posts">

      <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}</a></li>
  </ul>

        {{ content }}

        </div><!-- /.container -->
    </body>
</html>
